__pycache__/                                                                                                                                                 
*.pyc                                                                                                                                                        
*.pth                                                                                                                                                        
checkpoints/                                                                                                                                                 
checkpoints_stereo/                                                                                                                                          
checkpoints_fusion_stereo/   